<section class="cookie-modal">
  <div class="cookies-wrap container">
    <p class="cookies-modal-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-btn-wrap">
      <button class="cookies-accept cookie-btn">ACCEPT COOKIES</button>
      <button class="cookies-decline cookie-btn">
        <p class="cookie-text-btn">DECLINE COOKIES</p>
      </button>
    </div>
  </div>
</section>
