<section class="faq-section" id="faq">
  <div class="faq-content container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <div class="faq-wrap">
          <div class="faq-wrapper">
            <span class="faq-digit">1.</span>
            <h3 class="faq-title">Is this a real legal service?</h3>
          </div>
          <button class="faq-open-acc">
            <img src="./img/general/arrow-down.png" alt="" class="arrow-down" />
            <img src="./img/desktop/arrow-down-desktop.png" alt="" class="arrow-down-desktop" />
          </button>
        </div>
        <div class="faq-hidden">
          <p class="faq-hidden-text">
            Yes. LegalDA is operated by a team of digital rights specialists,
            legal writers, and gaming compliance experts. While we are not a law
            firm, we offer structured support with real legal principles.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-wrap">
          <div class="faq-wrapper">
            <span class="faq-digit">2.</span>
            <h3 class="faq-title">Can I use this if I live outside the US?</h3>
          </div>
          <button class="faq-open-acc">
            <img src="./img/general/arrow-down.png" alt="" class="arrow-down" />
            <img src="./img/desktop/arrow-down-desktop.png" alt="" class="arrow-down-desktop" />
          </button>
        </div>
        <div class="faq-hidden">
          <p class="faq-hidden-text">
            Yes, we serve clients globally. Our letters and requests follow the
            consumer protection rules of your region. <br />
            What if the platform ignores my request?If you receive no response,
            we guide you on how to escalate — including regulator contact,
            chargebacks, or small claims steps if necessary.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-wrap">
          <div class="faq-wrapper">
            <span class="faq-digit">3.</span>
            <h3 class="faq-title">What if the platform ignores my request?</h3>
          </div>
          <button class="faq-open-acc">
            <img src="./img/general/arrow-down.png" alt="" class="arrow-down" />
            <img src="./img/desktop/arrow-down-desktop.png" alt="" class="arrow-down-desktop" />
          </button>
        </div>
        <div class="faq-hidden">
          <p class="faq-hidden-text">
            If you receive no response, we guide you on how to escalate —
            including regulator contact, chargebacks, or small claims steps if
            necessary.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-wrap">
          <div class="faq-wrapper">
            <span class="faq-digit">4.</span>
            <h3 class="faq-title">Is my personal data safe?</h3>
          </div>
          <button class="faq-open-acc">
            <img src="./img/general/arrow-down.png" alt="" class="arrow-down" />
            <img src="./img/desktop/arrow-down-desktop.png" alt="" class="arrow-down-desktop" />
          </button>
        </div>
        <div class="faq-hidden">
          <p class="faq-hidden-text">
            Absolutely. All submissions are encrypted. We never share your data
            without consent.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
