<footer class="footer-section" id="footer">
  <div class="footer-content container">
    <p class="footer-title">
      LegalDA LLC – Digital Consumer Protection for Gamers
    </p>
    <div class="footer-links-wrap">
      <a href="./privacy.html" class="footer-link">Privacy Policy </a>
      <a href="./cookies.html" class="footer-link">Cookie Settings</a
      ><a href="./terms.html" class="footer-link">Terms and Conditions</a>
    </div>
    <p class="footer-rights">	All rights reserved © legalda.site | 2025</p>
  </div>
</footer>
