<section class="handle-section" id="handle">
  <div class="handle-content container">
    <h2 class="handle-title">What We Handle</h2>
    <ul class="handle-list">
      <li class="handle-list-item">
        <img src="./img/general/handle-ing-1.png" alt="" class="handle-img">
        <p class="handle-text">Account suspensions and bans</p>
      </li>
      <li class="handle-list-item">
        <img src="./img/general/handle-ing-2.png" alt="" class="handle-img">
        <p class="handle-text">Refund refusals</p>
      </li>
      <li class="handle-list-item">
        <img src="./img/general/handle-ing-3.png" alt="" class="handle-img">
        <p class="handle-text">Fraudulent charges</p>
      </li>
      <li class="handle-list-item">
        <img src="./img/general/handle-ing-4.png" alt="" class="handle-img">
        <p class="handle-text">Wrongfully flagged content</p>
      </li>
      <li class="handle-list-item">
        <img src="./img/general/handle-ing-5.png" alt="" class="handle-img">
        <p class="handle-text">Harassment and abuse reports</p>
      </li>
      <li class="handle-list-item">
        <img src="./img/general/handle-ing-6.png" alt="" class="handle-img">
        <p class="handle-text">Appeals and documentation</p>
      </li>
      <li class="handle-list-item">
        <img src="./img/general/handle-ing-7.png" alt="" class="handle-img">
        <p class="handle-text">Payment provider disputes (PayPal, Google Pay, Apple)</p>
      </li>
    </ul>
  </div>
</section>
