<header class="header-section" id="header">
  <div class="header-content container">
    <a href="#" class="title-wrap"
      ><h4 class="header-title">Start My Case</h4></a
    >
    <a class="header-logo-link" href="/"
      ><img class="header-logo" src="./img/general/logo.png" alt=""
    /></a>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="/#how-it-works" class="header-link">How It Works</a>
      </li>
      <li class="header-list-item">
        <a href="/#services" class="header-link">Services</a>
      </li>
      <li class="header-list-item">
        <a href="/#platforms" class="header-link">Game Platforms</a>
      </li>
      <li class="header-list-item">
        <a href="/#stories" class="header-link">Success Stories</a>
      </li>
      <li class="header-list-item">
        <a href="/#faq" class="header-link">FAQ</a>
      </li>
      <li class="header-list-item">
        <a href="/#contact" class="header-link">Contact</a>
      </li>
    </ul>
    <button class="burger-menu">
      <img class="burger" src="./img/mobile/burger-menu.png" alt="" />
    </button>
    <div class="backdrop container">
      <ul class="backdrop-list">
        <li class="backdrop-list-item">
          <a href="/#how-it-works" class="backdrop-link">How It Works</a>
        </li>
        <li class="backdrop-list-item">
          <a href="/#services" class="backdrop-link">Services</a>
        </li>
        <li class="backdrop-list-item">
          <a href="/#platforms" class="backdrop-link">Game Platforms</a>
        </li>
        <li class="backdrop-list-item">
          <a href="/#stories" class="backdrop-link">Success Stories</a>
        </li>
        <li class="backdrop-list-item">
          <a href="/#faq" class="backdrop-link">FAQ</a>
        </li>
        <li class="backdrop-list-item">
          <a href="/#contact" class="backdrop-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
