<section class="hero-section" id="hero">
  <div class="hero-content container">
    <h1 class="hero-title">
      Unfair Ban? No Refund? No Support? We Fight Back.
    </h1>
    <p class="hero-text">
      LegalDA helps gamers resolve disputes with publishers, platforms, and game
      providers — from account bans to digital fraud and harassment. You’re not
      alone anymore.
    </p>

    <div class="hero-links-wrap">
      <a href="#" class="hero-start-link">Start Your Dispute</a>
      <a href="#" class="hero-lern-link">Learn How It Works</a>
    </div>
  </div>
</section>
