<section class="our-help-section" id="our-help">
  <div class="our-help-content container">
    <h2 class="our-help-title">Who We Help</h2>
    <div class="oh-swiper swiper">
      <ul class="oh-swiper-wrapper swiper-wrapper">
        <li class="oh-swiper-slide swiper-slide">
          <img
            src="./img/general/oh-slide-1.png"
            alt=""
            class="oh-swiper-img"
          />
          <p class="oh-swiper-text">
            Players permanently or temporarily banned without cause
          </p>
        </li>
        <li class="oh-swiper-slide swiper-slide">
          <img
            src="./img/general/oh-slide-2.png"
            alt=""
            class="oh-swiper-img"
          />
          <p class="oh-swiper-text">
            Users denied refunds for in-game items or digital currency
          </p>
        </li>
        <li class="oh-swiper-slide swiper-slide">
          <img
            src="./img/general/oh-slide-3.png"
            alt=""
            class="oh-swiper-img"
          />
          <p class="oh-swiper-text">
            Victims of account theft or impersonation
          </p>
        </li>
        <li class="oh-swiper-slide swiper-slide">
          <img
            src="./img/general/oh-slide-4.png"
            alt=""
            class="oh-swiper-img"
          />
          <p class="oh-swiper-text">
            Individuals facing harassment or abuse in online lobbies or
            communities
          </p>
        </li>
        <li class="oh-swiper-slide swiper-slide">
          <img
            src="./img/general/oh-slide-5.png"
            alt=""
            class="oh-swiper-img"
          />
          <p class="oh-swiper-text">
            Mobile users hit with fraudulent or double charges
          </p>
        </li>
        <li class="oh-swiper-slide swiper-slide">
          <img
            src="./img/general/oh-slide-6.png"
            alt=""
            class="oh-swiper-img"
          />
          <p class="oh-swiper-text">
            Streamers and creators wrongfully flagged or content-banned
          </p>
        </li>
      </ul>
      <div class="oh-button-wrapper">
        <button class="oh-button-left">
          <img src="./img/general/arrow-left.png" alt="" />
        </button>
        <button class="oh-button-right">
          <img src="./img/general/arrow-right.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</section>
