<section class="platforms-section" id="platforms">
  <div class="platforms-content container">
    <h2 class="platforms-title">Supported Platforms</h2>
    <p class="platforms-subtitle">
      LegalDA currently supports dispute services for:
    </p>
    <div class="platforms-swiper swiper">
      <ul class="platforms-swiper-wrapper swiper-wrapper">
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-1.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-2.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-3.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-4.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-5.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-6.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-7.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-8.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-9.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-10.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-11.png"
            alt=""
            class="platforms-img"
          />
        </li>
        <li class="platforms-swiper-slide swiper-slide">
          <img
            src="./img/general/platform-img-12.png"
            alt=""
            class="platforms-img"
          />
        </li>
      </ul>
    </div>
    <p class="platforms-note">
      If your platform isn’t listed, we can still help in many cases. Our
      support team will evaluate it upon submission.
    </p>
  </div>
</section>
