<section class="pricing-section" id="pricing">
  <div class="pricing-content container">
    <h2 class="pricing-title">Pricing</h2>
    <p class="pricing-subtitle">
      LegalDA offers clear, transparent service tiers:
    </p>
    <div class="pricing-swiper swiper">
      <ul class="pricing-swiper-wrapper swiper-wrapper">
        <li class="pricing-swiper-slide swiper-slide">
          <img
            src="./img/general/pricing-img-1.png"
            alt=""
            class="pricing-swiper-img"
          />
          <div class="pricing-text-wrap">
            <h3 class="pricing-swiper-title">Case Review</h3>
            <p class="pricing-swiper-text pricing-swiper-text-1">
              We assess your dispute and provide basic options
            </p>
            <p class="price">free</p>
          </div>
        </li>
        <li class="pricing-swiper-slide swiper-slide">
          <img
            src="./img/general/pricing-img-2.png"
            alt=""
            class="pricing-swiper-img"
          />
          <div class="pricing-text-wrap">
            <h3 class="pricing-swiper-title">Single Action Package</h3>
            <p class="pricing-swiper-text pricing-swiper-text-1">
              One formal appeal, refund request, or notice
            </p>
            <p class="price">$39</p>
          </div>
        </li>
        <li class="pricing-swiper-slide swiper-slide">
          <img
            src="./img/general/pricing-img-3.png"
            alt=""
            class="pricing-swiper-img"
          />
          <div class="pricing-text-wrap">
            <h3 class="pricing-swiper-title">Pro Dispute Package</h3>
            <p class="pricing-swiper-text pricing-swiper-text-2">
              Full case file, platform submission, and two rounds of follow-up
            </p>
            <p class="price price-2">$89</p>
          </div>
        </li>
        <li class="pricing-swiper-slide swiper-slide">
          <img
            src="./img/general/pricing-img-4.png"
            alt=""
            class="pricing-swiper-img"
          />
          <div class="pricing-text-wrap">
            <h3 class="pricing-swiper-title">Chargeback Response Kit</h3>
            <p class="pricing-swiper-text">
              For players falsely accused of payment fraud
            </p>
            <p class="price price-3">$29</p>
          </div>
        </li>
      </ul>
      <div class="pagination-wrap">
        <button class="pricing-btn-left">
          <img class="arrow-left" src="./img/general/arrow-left.png" alt="" />
        </button>
        <div class="pricing-pagination"></div>
        <button class="pricing-btn-right">
          <img class="arrow-right" src="./img/general/arrow-right.png" alt="" />
        </button>
      </div>
    </div>
    <p class="pricing-notes">
      Custom packages available for streamers, studios, and influencers.
    </p>
  </div>
</section>
