<section class="why-us-section" id="why-us">
  <div class="why-us-content container">
    <h2 class="why-us-title">Why LegalDA Is Different</h2>
    <ul class="why-us-list">
      <li class="why-us-list-item">
        <img src="./img/general/why-us-img-1.png" alt="" class="why-us-img" />
        <h3 class="why-us-list-title">Not a bot:</h3>
        <p class="why-us-text">
          We write real legal letters tailored to your case
        </p>
      </li>
      <li class="why-us-list-item">
        <img src="./img/general/why-us-img-2.png" alt="" class="why-us-img" />
        <h3 class="why-us-list-title">Transparent pricing:</h3>
        <p class="why-us-text">No subscriptions, no hidden fees</p>
      </li>
      <li class="why-us-list-item">
        <img src="./img/general/why-us-img-3.png" alt="" class="why-us-img" />
        <h3 class="why-us-list-title">Fast turnaround:</h3>
        <p class="why-us-text">Initial review in under 48 hours</p>
      </li>
      <li class="why-us-list-item">
        <img src="./img/general/why-us-img-4.png" alt="" class="why-us-img" />
        <h3 class="why-us-list-title">Real-world results:</h3>
        <p class="why-us-text">Thousands of resolved disputes</p>
      </li>
      <li class="why-us-list-item">
        <img src="./img/general/why-us-img-5.png" alt="" class="why-us-img" />
        <h3 class="why-us-list-title">Built for gamers:</h3>
        <p class="why-us-text">
          We speak your language, and we know the systems you're dealing with
        </p>
      </li>
    </ul>
  </div>
</section>
