.header-section {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  @include media(desktop) {

  }
}

.header-section .header-content {
  display: flex;
  align-items: center;
  height: 53px;
  position: relative;
  background: #131926;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 0 20px 20px;
  @include media(desktop) {
    justify-content: space-between;
    height: 90px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header-list {
  display: none;
  @include media(desktop) {
    display: flex;
    gap: 50px;
  }
}

.header-link {
  font-size: 24px;
  white-space: nowrap;
}

.header-section .header-content.no-right-radius {
  border-radius: 0 0 0 20px;
}

.title-wrap {
  background: #143964;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  @include media(desktop) {
    order: 3;
  }
}

.header-title {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  @include media(desktop) {
    font-size: 24px;
    white-space: nowrap;
  }
}

.header-logo {
  height: 53px;
  margin-left: 40px;
  object-fit: contain;
  @include media(desktop) {
    height: 83px;
    margin: 0;
  }
}

.burger-menu {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 20px;
  @include media(desktop) {
    display: none;
  }
}

.header-section .backdrop {
  position: absolute;
  background: #131926;
  top: 53px;
  right: 0;
  border-radius: 0 0 30px 30px;
  width: 174px;
  height: 242px;
  margin: 0 auto;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
}

.backdrop-list  {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 13px;
}
