@import './header.scss';
@import './hero.scss';
@import './services.scss';
@import './our-help.scss';
@import './how-it-works.scss';
@import './platforms.scss';
@import './handle.scss';
@import './promise.scss';
@import './why-us.scss';
@import './stories.scss';
@import './pricing.scss';
@import './faq.scss';
@import './contact.scss';
@import './footer.scss';
@import './cookies-modal.scss';

body {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background-color: #1E1E1E;
  @include media(desktop) {
    font-size: 24px;
  }
}

h2 {
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  @include media(desktop) {
    font-weight: 900;
    font-size: 50px;
    color: #fff;
  }
}



.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  background: #002550;
  @include media(desktop) {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
